{
  "**/*.{js,jsx,ts,tsx,sol}": [
    "eslint --ignore-path .gitignore --ignore-pattern sdk/ --ignore-pattern graph/generated/",
    "prettier --write"
  ],
  "**/*.{md,json}": ["prettier --write"]
}
