.project-data-table {
    color: black;
    font-size: 14px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;

}

.project-data-table :global(.repo) {
    color: #444;
    font-size: 10px;
}

.project-data-table thead td {
    color: #aaa;
    border-bottom: 2px #ccc solid;
}

.project-data-table tbody :global(.status) :global(.dot) {
    height: 8px;
    width: 8px;
    border-radius: 50px;
    background-color: #888;
    display: inline-block;
}


.project-data-table tbody td {
    color: #222;
    border-bottom: 1px #eee solid;
}

.project-data-table tbody :global(.status.verified .dot) {
    background-color: blue;
}

.project-data-table tbody :global(.status.verified) {
    color: blue;
}

.project-data-table tbody :global(.status.incomplete .dot) {
    background-color: orange;
}

.project-data-table tbody :global(.status.incomplete) {
    color: orange;
}

.project-data-table tbody :global(.growth-value .positive) {
    color: green;
}

.project-data-table tbody :global(.growth-value .negative) {
    color: red;
}

.project-data-table tbody :global(.growth-value .growth-type) {
    color: gray;
}

.project-data-table :global(.clickable) {
    cursor: pointer;
}

.project-data-table :global(div.expanded) {
    background-color: #fafafa;
}

.project-data-table :global(div.expanded div.title) {
    background-color: #eee;
    text-align: right;
    padding: 10px;
}

.project-data-table :global(div.expanded) .project-data-table thead td {
    color: #555;
}