# Full reference https://github.com/foundry-rs/foundry/tree/master/config

[profile.default]
auto_detect_solc = false
bytecode_hash = "none"
fuzz = { runs = 1025 }
gas_reports = ["*"]
libs = ["lib"]
optimizer = true
optimizer_runs = 10_000
out = "out"
solc = "0.8.16"
src = "src"
test = "test/foundry"


[profile.ci]
fuzz = { runs = 1024 }
verbosity = 1
