# Full reference https://github.com/foundry-rs/foundry/tree/master/config

[profile.default]
auto_detect_solc = true
allow_paths = ["../node_modules", "node_modules", "lib"]
block_base_fee_per_gas = 0
block_coinbase = '0x0000000000000000000000000000000000000000'
block_difficulty = 0
block_number = 0
block_timestamp = 0
bytecode_hash = "none"
force = false
fuzz = { runs = 1025 }
gas_reports = ["LookRareProtocol", "HypercertMinter"]
libraries = []
libs = ["node_modules", "lib"]
optimizer = true
optimizer_runs = 10000
out = "out"
src = "src"
script = "scripts/deployment"
test = "test/foundry"
via_ir = false
no_match_test = "testCannotExecuteOrderIfInvalidUserGlobal"

[profile.ci]
fuzz = { runs = 1024 }
verbosity = 1

[etherscan]
mainnet = { key = "${ETHERSCAN_API_KEY}" }
goerli = { key = "${ETHERSCAN_API_KEY}" }
optimism = { key = "${OPTIMISTIC_ETHERSCAN_API_KEY}" }
sepolia = { key = "${ETHERSCAN_API_KEY}" }
celo = { key = "${CELOSCAN_API_KEY}" }
arb_sepolia = { key = "${API_KEY_ARBISCAN}", url = "https://api-sepolia.arbiscan.io/api" }

[rpc_endpoints]
mainnet = "https://eth-pokt.nodies.app"
goerli = "https://eth-goerli.g.alchemy.com/v2/${ALCHEMY_API_KEY}"
optimism = "https://opt-mainnet.g.alchemy.com/v2/${ALCHEMY_API_KEY}"
sepolia = "https://sepolia.infura.io/v3/${INFURA_API_KEY}"
arb_sepolia = "https://arb-sepolia.g.alchemy.com/v2/${ALCHEMY_API_KEY}"
celo = "https://forno.celo.org"

[fmt]
number_underscore = "thousands"
wrap_comments = true
