# NOTE: This name appears in GitHub's Checks API and in workflow's status badge.
name: deploy-graph
env:
  SUBGRAPH_ACCESS_TOKEN: ${{ secrets.SUBGRAPH_ACCESS_TOKEN }}

# Trigger the workflow when:
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy-graph:
    # NOTE: This name appears in GitHub's Checks API.
    name: deploy-graph
    environment: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8.9.0
      - name: Set up Node.js 18
        uses: actions/setup-node@v3
        with:
          cache: "pnpm"
          node-version: "18.x"
      - name: Install
        run: pnpm install --frozen-lockfile
      - name: Build the subgraph
        run: pnpm run build:graph
      - name: Deploy the subgraph to testnets
        if: github.ref == 'refs/heads/develop'
        run: pnpm run deploy:graph:test
      - name: Deploy the subgraph to production
        if: github.ref == 'refs/heads/main'
        run: pnpm run deploy:graph:prod
